[submodule "chisel3"]
	path = chisel3
	url = https://github.com/freechipsproject/chisel3
[submodule "firrtl"]
	path = firrtl
	url = https://github.com/freechipsproject/firrtl
[submodule "hardfloat"]
	path = hardfloat
	url = https://github.com/ucb-bar/berkeley-hardfloat
[submodule "torture"]
	path = torture
	url = https://github.com/ucb-bar/riscv-torture
